<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Randevu Ekle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"tabMenuMeetingAdd"| translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- add meeting -->
  <ion-list>
    <form [formGroup]="meetingAddForm" *ngIf="meetingAddForm">
      <ion-item>
        <ion-input label="Müşteri adı" placeholder="Adınızı Girin" formControlName="customerName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Müşteri Soyadı" placeholder="Soyadınızı Girin" formControlName="customerLastName"></ion-input>
      </ion-item>
              <ion-list>
          <ion-item>
            <ion-select aria-label="Fruit" placeholder="Hizmet seçiniz" [multiple]="true" formControlName="service">
              <ion-select-option value="Saç kesimi">{{"addService1"|translate}}</ion-select-option>
              <ion-select-option value="Sakal Traşı">{{"addService2"|translate}}</ion-select-option>
              <ion-select-option value="Manikür">{{"addService3"|translate}}</ion-select-option>
              <ion-select-option value="Pedikür">{{"addService4"|translate}}</ion-select-option>
              <ion-select-option value="Cilt Bakımı">{{"addService5"|translate}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <h3 style="margin-left: 15px;">{{"dateAndTime"|translate}} </h3>
          <ion-item>
            <ion-datetime formControlName="dateOfMeeting"></ion-datetime>
          </ion-item>
        </ion-list>
      <ion-button style="margin-left: 30%; margin-top: 10px;" (click)="addMeeting()" id="present-alert">{{"formAddButton"| translate}}</ion-button>
      <ion-alert
        trigger="present-alert"
        header="BAŞARILI !"
        message="Randevunuz Oluşturuldu"
        [buttons]="alertButtons" 
      ></ion-alert>
    </form>
  </ion-list>
</ion-content>
