<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Randevu Ekle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Randevu Ekle</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- add meeting -->
  <ion-list>
    <form [formGroup]="meetingAddForm"> 

        <ion-input  label="Müşteri adı" placeholder="Adınızı Girin" formControlName="customerName"></ion-input>
      
      <ion-item>
        <ion-input label="Müşteri Soyadı" placeholder="Soyadınızı Girin" formControlName="customerLastName"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select
           
          >
            <ion-select-option></ion-select-option>               
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-datetime></ion-datetime>
      </ion-item>
   
      <ion-button (click)="addMeeting()">Randevu oluştur</ion-button>
 </form>
   </ion-list>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
