<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Güncelle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Güncelle</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <form [formGroup]="meetingUpdateForm" *ngIf="meetingUpdateForm">
      <ion-item>
        <ion-input label="Müşteri adı" placeholder="Adınızı Girin" formControlName="customerName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Müşteri Soyadı" placeholder="Soyadınızı Girin" formControlName="customerLastName"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" placeholder="Hizmet seçiniz" [multiple]="true" formControlName="service">
            <ion-select-option value="Saç kesimi">Saç kesimi</ion-select-option>
            <ion-select-option value="Sakal Traşı">Sakal Traşı</ion-select-option>
            <ion-select-option value="Manikür">Manikür</ion-select-option>
            <ion-select-option value="Pedikür">Pedikür</ion-select-option>
            <ion-select-option value="Cilt Bakımı">Cilt bakımı</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-datetime formControlName="dateOfMeeting"></ion-datetime>
      </ion-item>
    </form>
  </ion-list>
  <ion-button (click)="update()" color="warning">Güncelle</ion-button>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
